@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  font-family: "Source Sance Pro", sans-serif;
}

body{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.menu-item:hover {
  color: #3f51b5 !important; /* Change color according to your design */
  background-color: transparent !important;
}

/* GoToTopButton.css */
.go-top-btn {
  position: fixed;
  bottom: 50px;
  right: 30px;
  border: none;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.go-top-btn:hover {
  background-color: black;
  color:white
}

.go-top-btn.show {
  opacity: 1;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*   spinner div css */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /*   background-color : red; */
  border: 10px solid #ccc;
  border-top-color: #000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pointer-events-none {
  pointer-events: none;
}

input[type="checkbox"] { 
  transform: scale(1.5); 
  margin-right: 20px;
  accent-color: #141b2d;
  border-color: #141b2d;
} 

input[type="checkbox"]:checked {
  transform: scale(1.5); 
  background-color: #141b2d;
  border-color: #141b2d;
  margin-right: 20px;

}